<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c2a19d">  <td>24/02/27 12:02:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeApplication(org.testng.ITestResult)[pri:0, instance:rupeshkumar.seleniumDataDrivenFramework.login.LoginTest@393671df]">&lt;&lt;closeApplication</td> 
<td>&nbsp;</td>  <td>main@1010953501</td>   <td></td> </tr>
<tr bgcolor="c2a19d">  <td>24/02/27 12:02:30</td>   <td>-9384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:rupeshkumar.seleniumDataDrivenFramework.login.LoginTest@393671df]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@1010953501</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>24/02/27 12:02:38</td>   <td>-744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.validLoginTest()[pri:0, instance:rupeshkumar.seleniumDataDrivenFramework.login.LoginTest@393671df]">validLoginTest</td> 
  <td>main@1010953501</td>   <td></td> </tr>
</table>
